<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module>
<module version="2.0">
	<meta>
		<identity>
			<uri>urn:com:ebc:aws:sdk</uri>
			<version>1.0.0</version>
		</identity>
		<info>
			<name>ebc / aws / sdk</name>
			<description>elephant bird consulting / amazon web services / sdk</description>
		</info>
	</meta>
	
	<system>
		<dynamic/>
	</system>
	
	<rootspace
		name="ebc aws sdk"
		public="true"
		uri="urn:com:ebc:aws:sdk">
		
		<literal type="xml" uri="res:/etc/system/SimpleDynamicImportHook.xml">
			<connection>
				<type>HTTPFulcrum</type>
			</connection>
		</literal>
		
		<mapper>
			<config>
				<endpoint>
					<grammar>
						<simple>res:/ebc/aws-local/baseurl/{service}-{region}</simple>
					</grammar>
					
					<request>
						<identifier>active:xsltc</identifier>
						<argument name="operand">res:/resources/xml/regions.xml</argument>
						<argument name="operator">res:/resources/xsl/regions.xsl</argument>
						<argument method="as-string" name="region">[[arg:region]]</argument>
						<argument method="as-string" name="service">[[arg:service]]</argument>
						<representation>java.lang.String</representation>
					</request>
				</endpoint>

				<endpoint>
					<grammar>
						<simple>res:/ebc/aws/baseurl/{service}-{region}</simple>
					</grammar>
					
					<request>
						<identifier>active:xsltc</identifier>
						<argument name="operand">https://raw.githubusercontent.com/amazonwebservices/aws-toolkit-for-eclipse/master/com.amazonaws.eclipse.core/etc/regions.xml</argument>
						<argument name="operator">res:/resources/xsl/regions.xsl</argument>
						<argument method="as-string" name="region">[[arg:region]]</argument>
						<argument method="as-string" name="service">[[arg:service]]</argument>
						<representation>java.lang.String</representation>
					</request>
				</endpoint>
			</config>
			
			<space>
				<import>
					<uri>urn:com:ebc:aws:sdk:import</uri>
					<private/>
				</import>
			</space>
		</mapper>
	</rootspace>
	
	<rootspace
		name="ebc aws sdk import"
		public="false"
		uri="urn:com:ebc:aws:sdk:import">
		
		<fileset>
			<!-- xml and xsl files -->
			<regex>res:/resources/(xml|xsl)/.*</regex>
		</fileset>
		
		<import>
			<!-- contains active:xsltc -->
			<uri>urn:org:netkernel:xml:core</uri>
		</import>
		
		<import>
			<!-- contains http:// and https:// scheme -->
			<uri>urn:org:netkernel:client:http</uri>
		</import>
	</rootspace>
	
	<rootspace
		name="ebc aws sdk unittest"
		public="true"
		uri="urn:com:ebc:aws:sdk:unittest">
		
		<literal type="hds" uri="res:/etc/system/Tests.xml">
			<tests>
				<test>
					<id>test:urn:com:ebc:aws:sdk:import</id>
					<name>ebc aws sdk import unittest</name>
					<desc>ebc aws sdk import unittest</desc>
					<uri>res:/resources/unittest/aws-sdk-import.xml</uri>
				</test>
				
				<test>
					<id>test:urn:com:ebc:aws:sdk</id>
					<name>ebc aws sdk unittest</name>
					<desc>ebc aws sdk unittest</desc>
					<uri>res:/resources/unittest/aws-sdk.xml</uri>
				</test>
			</tests>
		</literal>
		
		<!-- this endpoint makes sure no other /etc/system resource
		     gets pulled into the testing framework -->
		<endpoint>
			<prototype>Limiter</prototype>
			<grammar>res:/etc/system<regex type="anything"/></grammar>
		</endpoint>
		
		<literal type="hds" uri="res:/resources/unittest/aws-sdk-import.xml">
			<testlist>
				<test name="SOURCE regions.xml resource">
					<request>
						<identifier>res:/resources/xml/regions.xml</identifier>
						<verb>SOURCE</verb>
					</request>
					
					<assert>
						<notNull/>
					</assert>
				</test>
				
				<test name="SOURCE regions.dat resource">
					<request>
						<identifier>res:/resources/xml/regions.dat</identifier>
						<verb>SOURCE</verb>
					</request>
					
					<assert>
						<exception/>
					</assert>
				</test>
			</testlist>
		</literal>

		<literal type="hds" uri="res:/resources/unittest/aws-sdk.xml">
			<testlist>
				<test name="SOURCE S3 eu-west-1 resource">
					<request>
						<identifier>res:/ebc/aws-local/baseurl/S3-eu-west-1</identifier>
						<verb>SOURCE</verb>
					</request>
					
					<assert>
						<stringEquals>https://s3-eu-west-1.amazonaws.com/</stringEquals>
					</assert>
				</test>
				
				<test name="SOURCE S4 eu-west-1 resource">
					<request>
						<identifier>res:/ebc/aws-local/baseurl/S4-eu-west-1</identifier>
						<verb>SOURCE</verb>
					</request>
					
					<assert>
						<stringEquals>unknown</stringEquals>
					</assert>
				</test>
				
				<test name="SOURCE blabla resource">
					<request>
						<identifier>res:/ebc/aws-local/baseurl/blabla</identifier>
						<verb>SOURCE</verb>
					</request>
					
					<assert>
						<exception/>
					</assert>
				</test>
			</testlist>
		</literal>
		
		<import>
			<!-- public space we want to test -->
			<uri>urn:com:ebc:aws:sdk</uri>
		</import>
		
		<import>
			<!-- private space we want to test -->
			<uri>urn:com:ebc:aws:sdk:import</uri>
		</import>
		
		<import>
			<!-- contains Limiter prototype -->
			<uri>urn:org:netkernel:ext:layer1</uri>
		</import>
	</rootspace>
</module>