<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module>
<module version="2.0">
	<meta>
		<identity>
			<uri>urn:com:ebc:kbodata:server</uri>
			<version>1.0.0</version>
		</identity>
		<info>
			<name>ebc / kbodata / server</name>
			<description>elephant bird consulting / kbodata / server</description>
		</info>
	</meta>
		
	<system>
		<dynamic/>
	</system>
	
	<rootspace
		name="ebc kbodata server"
		public="true"
		uri="urn:com:ebc:kbodata:server">

		<fileset>
			<regex>res:/etc/system/(LogConfig|SimpleDynamicImportHook).xml</regex>
		</fileset>

		<!-- this endpoint makes sure no other /etc/system resource
		     gets pulled in -->
		<endpoint>
			<prototype>Limiter</prototype>
			<grammar>res:/etc/system<regex type="anything"/></grammar>
		</endpoint>

		<overlay>
			<prototype>RESTOverlay</prototype>
			<config>
				<basepath>/</basepath>
				<auto404/>
			</config>
			
			<space>
				<mapper>
					<config>
						<!-- / -->
						<endpoint>
							<meta>
								<rest>
									<simple></simple>
									<method>GET</method>
									<Etag>MD5</Etag>
									<compress/>
									<produces>text/html</produces>
								</rest>
							</meta>
							
							<grammar>
								<active>
									<identifier>active:kbodatahome</identifier>
								</active>
							</grammar>
							
							<request>
								<identifier>res:/resources/html/kbodata.html</identifier>
							</request>
						</endpoint>
						
						<!-- /css/* -->
						<endpoint>
							<meta>
								<rest>
									<simple>css/{cssfile}</simple>
									<method>GET</method>
									<Etag>MD5</Etag>
									<compress/>
									<produces>text/css</produces>
								</rest>
							</meta>
							
							<grammar>
								<active>
									<identifier>active:kbodatacss</identifier>
									<argument name="cssfile"/>
								</active>
							</grammar>
							
							<request>
								<identifier>res:/resources/css/[[arg:cssfile]]</identifier>
							</request>
						</endpoint>
						
						<!-- /dataset/kbodata -->
						<endpoint>
							<meta>
								<rest>
									<simple>dataset/kbodata</simple>
									<method>GET</method>
									<Etag>MD5</Etag>
									<compress/>
									<produces>text/xml</produces>
									<produces withTransform="active:rdfxml2rdfxml">application/rdf+xml</produces>
									<produces withTransform="active:rdfxml2turtle">text/turtle</produces>
									<produces withTransform="active:rdfxml2ntriple">text/plain</produces>
									<produces withTransform="active:rdfxml2jsonld">application/ld+json</produces>
									<produces withTransform="active:rdfxml2html">text/html</produces>
								</rest>
							</meta>
							
							<grammar>
								<active>
									<identifier>active:kbodatavoidrestoverlay</identifier>
								</active>
							</grammar>
							
							<request>
								<identifier>active:kbodatavoid</identifier>
							</request>
						</endpoint>
					</config>
					
					<space>
						<import>
							<uri>urn:com:ebc:kbodata:server:import:overlay</uri>
							<private/>
						</import>
					</space>
				</mapper>
			</space>
		</overlay>
		
		<import>
			<uri>urn:com:ebc:kbodata:server:import</uri>
			<private/>
		</import>
	</rootspace>
	
	<rootspace
		name="ebc kbodata server import"
		public="false"
		uri="urn:com:ebc:kbodata:server:import">

		<import>
			<!-- contains RESTOverlay prototype -->
			<uri>urn:org:netkernel:tpt:http</uri>
		</import>
		
		<import>
			<!-- contains Limiter prototype -->
			<uri>urn:org:netkernel:ext:layer1</uri>
		</import>
	</rootspace>

	<rootspace
		name="ebc kbodata server import overlay"
		public="false"
		uri="urn:com:ebc:kbodata:server:import:overlay">

		<fileset>
			<!-- contains html resources -->
			<regex>res:/resources/html/.*</regex>
		</fileset>
		
		<fileset>
			<!-- contains css resources -->
			<regex>res:/resources/css/.*</regex>
		</fileset>

		<fileset>
			<!-- groovy scripts -->
			<regex>res:/resources/groovy/.*</regex>
		</fileset>
		
		<import>
			<!-- contains GroovyPrototype -->
			<uri>urn:org:netkernel:lang:groovy</uri>
		</import>
		
		<accessor>
			<id>com:ebc:kbodata:server:void:groovy:accessor</id>
			<prototype>GroovyPrototype</prototype>
			<script>res:/resources/groovy/kbodatavoid.groovy</script>
			<grammar>
				<active>
					<identifier>active:kbodatavoid</identifier>
					<argument name="extension" desc="extension" max="1" min="0"/>
				</active>
			</grammar>
		</accessor>
	</rootspace>

</module>