/* milieuinfo-map.css */

.geo-map {
    height: 410px;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
}

.geo-map > em {
    display: block;
    padding: 20px;
}

.ol-scale-line {
    background: rgba(255, 255, 255, .4);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    bottom: 8px;
    right: 64px;
    left: auto;
}

.ol-scale-line-inner {
    border: 1px solid #4da692;
    border-top: none;
    border-bottom: none;
    color: #333;
    background-color: rgba(255, 255, 255, 0.8);
}

.ol-control {
    border-radius: 2px;
}

.ol-zoom {
    top: auto;
    left: auto;
    bottom: 8px;
    right: .5em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.ol-control button {
    height: 40px;
    width: 40px;
    line-height: .4em;
    background-color: #4da692;
}

.ol-control button:focus, .ol-control button:hover {
    background-color: #42796d;
}

.ol-zoomslider {
    top: auto;
    left: auto;
    bottom: 100px;
    right: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.ol-zoomslider button {
    height: 10px
}
