<module version="2.0">
	<meta>
		<identity>
			<uri>urn:com:ebc:email:core</uri>
			<version>1.0.0</version>
		</identity>
		<info>
			<name>Email / Core</name>
			<description>SMTP, POP, IMAP Transports, sendmail</description>
		</info>
	</meta>
	<system>
    <classloader>
      <exports>
        <match>org\.netkernel\.email\.core\.endpoint\..*</match>
      </exports>
    </classloader>
	</system>
	<rootspace>
    
		<prototype>
			<id>SMTPTransport</id>
			<class>org.netkernel.email.core.endpoint.SMTPServerTransport</class>
			<parameter name="config" type="identifier" default="null" desc="XML configuration resource"/>
			<parameter name="id" type="string" default="null"/>
			<parameter name="private" type="boolean" min="0" max="1" default="false"/>
		</prototype>
		
		<prototype>
			<id>MailFolderTransport</id>
			<class>org.netkernel.email.core.endpoint.MailFolderTransport</class>
			<parameter name="config" type="identifier" desc="XML configuration resource"/>
			<parameter name="id" type="string" default="null"/>
			<parameter name="private" type="boolean" min="0" max="1" default="false"/>
		</prototype>
		
		<accessor>
			<id>email.SendMail</id>
			<class>org.netkernel.email.core.endpoint.SMTPClientAccessor</class>
			<grammar>
				<active>
					<identifier>active:sendmail</identifier>
					<argument name="config" min="0" max="1" desc="SMTP configuration"/>
					<argument name="header" min="1" max="1" desc="The declarative specification of the email header"/>
					<varargs/>
				</active>
			</grammar>
			<description>
			  The active:sendmail service will send an email message via an SMTP gateway.
		  </description>
			<name>sendmail</name>
		</accessor>
		
		<transreptor>
			<class>org.netkernel.email.core.endpoint.MailSessionTransreptor</class>
		</transreptor>
	</rootspace>
</module>
