<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module>
<module version="2.0">
	<meta>
		<identity>
			<uri>urn:com:ebc:neo4j:cytoscape</uri>
			<version>1.0.0</version>
		</identity>
		<info>
			<name>ebc / neo4j / cytoscape</name>
			<description>elephant bird consulting / neo4j / cytoscape</description>
		</info>
	</meta>
		
	<system>
		<dynamic/>
	</system>
			
	<rootspace
		name="ebc neo4j cytoscape"
		public="true"
		uri="urn:com:ebc:neo4j:cytoscape">

		<fileset>
			<regex>res:/etc/system/(SimpleDynamicImportHook).xml</regex>
		</fileset>

		<!-- this endpoint makes sure no other /etc/system resource
		     gets pulled in -->
		<endpoint>
			<prototype>Limiter</prototype>
			<grammar>res:/etc/system<regex type="anything"/></grammar>
		</endpoint>
		
		<overlay>
			<prototype>RESTOverlay</prototype>
			<config>
				<basepath>/cytodemo/</basepath>
				<auto404/>
			</config>
			
			<space>
				<mapper>
					<config>
						<!-- / -->
						<endpoint>
							<meta>
								<rest>
									<simple></simple>
									<method>GET</method>
									<Etag>MD5</Etag>
									<compress/>
									<produces>text/html</produces>
								</rest>
							</meta>
							
							<grammar>
								<active>
									<identifier>active:cytodemo</identifier>
								</active>
							</grammar>
							
							<request>
								<identifier>res:/resources/html/cytodemo.html</identifier>
							</request>
						</endpoint>
						
						<!-- /css/* -->
						<endpoint>
							<meta>
								<rest>
									<simple>css/{cssfile}</simple>
									<method>GET</method>
									<Etag>MD5</Etag>
									<compress/>
									<produces>text/css</produces>
								</rest>
							</meta>
							
							<grammar>
								<active>
									<identifier>active:cytodemocss</identifier>
									<argument name="cssfile"/>
								</active>
							</grammar>
							
							<request>
								<identifier>res:/resources/css/[[arg:cssfile]]</identifier>
							</request>
						</endpoint>

						<!-- /img/* -->
						<endpoint>
							<meta>
								<rest>
									<simple>img/{imgfile}</simple>
									<method>GET</method>
									<Etag>MD5</Etag>
									<compress/>
								</rest>
							</meta>
							
							<grammar>
								<active>
									<identifier>active:cytodemoimg</identifier>
									<argument name="imgfile"/>
								</active>
							</grammar>
							
							<request>
								<identifier>res:/resources/img/[[arg:imgfile]]</identifier>
							</request>
						</endpoint>

						<!-- /js/* -->
						<endpoint>
							<meta>
								<rest>
									<simple>js/{jsfile}</simple>
									<method>GET</method>
									<Etag>MD5</Etag>
									<compress/>
									<produces>application/javascript</produces>
								</rest>
							</meta>
							
							<grammar>
								<active>
									<identifier>active:cytodemojs</identifier>
									<argument name="jsfile"/>
								</active>
							</grammar>
							
							<request>
								<identifier>res:/resources/js/[[arg:jsfile]]</identifier>
							</request>
						</endpoint>
						
						<!-- /json/* -->
						<endpoint>
							<meta>
								<rest>
									<simple>json/{jsonfile}</simple>
									<method>GET</method>
									<Etag>MD5</Etag>
									<compress/>
									<produces>application/json</produces>
								</rest>
							</meta>
							
							<grammar>
								<active>
									<identifier>active:cytodemojson</identifier>
									<argument name="jsonfile"/>
								</active>
							</grammar>
							
							<request>
								<identifier>res:/resources/json/[[arg:jsonfile]]</identifier>
							</request>
						</endpoint>

					</config>

					<space>
						<import>
							<!-- tools needed inside the RESTOverlay -->
							<uri>urn:com:ebc:neo4j:cytoscape:import:overlay</uri>
							<private/>
						</import>
					</space>
				</mapper>
				
				<import>
					<!-- needed here as well if the RESTOverlay itself
						 launches the request -->
					<uri>urn:com:ebc:neo4j:cytoscape:import:overlay</uri>
					<private/>
				</import>
			</space>
		</overlay>

		<import>
			<uri>urn:com:ebc:neo4j:cytoscape:import</uri>
			<private/>
		</import>
	</rootspace>
	
	<rootspace
		name="ebc neo4j cytoscape import"
		public="false"
		uri="urn:com:ebc:neo4j:cytoscape:import">
		
		<import>
			<!-- contains RESTOverlay prototype -->
			<uri>urn:org:netkernel:tpt:http</uri>
		</import>
		
		<import>
			<!-- contains Limiter prototype -->
			<uri>urn:org:netkernel:ext:layer1</uri>
		</import>
	</rootspace>
	
	<rootspace
		name="ebc neo4j cytoscape import overlay"
		public="false"
		uri="urn:com:ebc:neo4j:cytoscape:import:overlay">
		
		<fileset>
			<!-- contains js resources -->
			<regex>res:/resources/js/.*</regex>
		</fileset>
		
		<fileset>
			<!-- contains html resources -->
			<regex>res:/resources/html/.*</regex>
		</fileset>
		
		<fileset>
			<!-- contains css resources -->
			<regex>res:/resources/css/.*</regex>
		</fileset>
		
		<fileset>
			<!-- contains json resources -->
			<regex>res:/resources/json/.*</regex>
		</fileset>

		<fileset>
			<!-- contains img resources -->
			<regex>res:/resources/img/.*</regex>
		</fileset>
	</rootspace>
</module>