<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module>
<module version="2.0">
	<meta>
		<identity>
			<uri>urn:org:neo4j:jdbc</uri>
			<version>3.0.2</version>
		</identity>
		<info>
			<name>neo4j / jdbc</name>
			<description>neo4j / jdbc</description>
		</info>
	</meta>
	
	<system>
		<dynamic/>
		<classloader>
			<exports>
				<match>org\.neo4j\..*</match>
			</exports>
		</classloader>
	</system>
	
	<rootspace
		name="neo4j jdbc"
		public="true"
		uri="urn:org:neo4j:jdbc">
	</rootspace>
</module>
